.full-w{
  width: 100%;
}

#tagline{
  margin-top: -26%;
}

#what, #insta{
  background: url('https://s3.amazonaws.com/tsmdeck/purp.jpg');
  background-size: cover;
  background-position: center center;
}

.preloader-wrapper{
  margin-top: 68px;
}

.row{
  max-width: 1024px !important;
}
