<div class="row white-text">
  <div id="thanks" class="col s12 center-align">
    <h2>Thank You!</h2>
  </div>
  <div id="contact-btn" class="col s12 center-align">
    <a href="https://www.trendsettermarketing.net/#contact" target="_blank">
      <div class="btn btn-large hoverable purple darken-3">
        Contact Us
      </div>
    </a>
  </div>
</div>
