<div class="row">
  <div class="col m9 offset-m1 white-text">
    <h3 id="game-headline">Custom Games and Web Apps</h3>
    <p id="game-text"><%= lorem.sentences(2) %></p>
  </div>
</div>
<div class="row valign-wrapper">
  <div class="col m3 valign center-block">
    <img id="gamephone1" class="full-w" src="https://s3.amazonaws.com/tsmdeck/trnphone.png">
  </div>
  <div class="col m3 valign center-block">
    <img id="gamephone2" class="full-w" src="https://s3.amazonaws.com/tsmdeck/gtgphone.png">
  </div>
  <div class="col m3 valign center-block">
    <img id="gamephone3" class="full-w" src="https://s3.amazonaws.com/tsmdeck/puzzlephone.png">
  </div>
</div>
