<div class="row hide-on-small-only valign-wrapper">
  <div id="hashtags" class="col m5 center-block valign white-text">
    <script src="https://snapwidget.com/js/snapwidget.js"></script>
    <iframe src="https://snapwidget.com/p/widget/?id=kDI6wrWn2Q&t=405" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
  </div>
  <div id="insta-text" class="col m5 center-block valign white-text right-align">
    <h3>Instagram Hashtag Contests</h3>
    <p>Utilized as a photo or shortform video uploader for users, fans feed content into the page, with a designated hashtag, which interactively displays images or videos they choose to post.</p>
  </div>
</div>
<div class="row hide-on-med-and-up">
  <div id="insta-text2" class="col s12 center-block white-text right-align">
    <h3>Instagram Hashtag Contests</h3>
    <p>Utilized as a photo or shortform video uploader for users, fans feed content into the page, with a designated hashtag, which interactively displays images or videos they choose to post.</p>
  </div>
  <div id="hashtags2" class="col s12 center-block white-text">
    <script src="https://snapwidget.com/js/snapwidget.js"></script>
    <iframe src="https://snapwidget.com/p/widget/?id=kDI6wrWn2Q&t=405" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
  </div>
</div>
