<div id="size-alert" class="modal">
  <div class="modal-content">
    <h4>Warning</h4>
    <p>While this deck is responsive, it is not necessarily mobile friendly. For optimal viewing, please use a display with dimensions of at least 1024px by 768px.</p>
    <p>Your current display is: <span id="window-w"></span>px by <span id="window-h"></span>px</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
  </div>
</div>
