<div class="row white-text">
  <div id="work-title" class="col m12">
    <h2>Our Work In Action</h2>
  </div>
</div>
<div class="row valign-wrapper">
  <div id="tsm-video" class="col m7 valign">
    <div class="video-container">
      <iframe src="https://player.vimeo.com/video/150444577" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
  <div id="project-slider" class="col m5 valign">
    <div class="slider">
      <ul class="slides">
      </ul>
    </div>
  </div>
</div>
