---
title: Middleman 4 Boilerplate
---


<div data-anchor="intro" class="section teal accent-4">
  <%= partial "partials/intro" %>
</div>
<div id="what" data-anchor="whatwedo" class="section">
  <%= partial "partials/whatwedo" %>
</div>
<div id="share" data-anchor="sharecontest" class="section orange">
  <%= partial "partials/sharecontest" %>
</div>
<div id="spotify-section" data-anchor="spotify" class="section teal accent-4">
  <%= partial "partials/spotify" %>
</div>
